h1 {
    margin-top: 30px;
    font-size: 40px;
    color: rgb(17, 169, 240);
}

body {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
}

#phopro {
    border-radius: 150px;
    box-shadow: 9px 5px 15px black;
    position: relative;
    left: -35px;
}

.gauche {
    background-color: rgb(17, 169, 240);
    max-width: 250px;
    justify-content: space-between;
}

.droite {
    margin-left: 50px;
    width: 700px;
    background-image: url(photo/img.png);
    background-repeat: no-repeat;
    background-position: top right;
}

h3 {
    text-align: center;
    border-bottom: dotted 2px blanchedalmond;
    width: 75%;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 35px;
    color: blanchedalmond;
}

h2 {
    margin-top: 50px;
    margin-left: 10%;
    font-size: 30px;
    margin-right: 0px;
    color: #D6E2F6;
    background-image: linear-gradient(rgb(17, 169, 240), rgb(175, 175, 175));
}

.page {
    display: flex;
    min-height: 1000px;
    max-height: auto;
    max-width: 1000px;
    box-shadow: 4px 3px 20px black;
    margin: 50px;
}

p {
    margin-left: 25px;
    margin-right: 25px;
    word-wrap: break-word;
    line-height: 1.8;
    font-size: 25px;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

li {
    line-height: 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-right: 50px;
    letter-spacing: 2px;
}

.eloigner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.section2-p {
    letter-spacing: 3px;
}

.marge {
    margin-bottom: 300px;
}

progress {
    width: 100px;
}

.icone {
    width: 20px;
    height: 20px;
}

.pad-profil {
    padding-top: 300px;
}

@media screen and (max-width: 1000px) {
    .page {
        max-width: auto;
        width: auto;
    }
    body {
        display: flex;
        justify-content: flex-start;
    }
    .droite {
        width: auto;
        background-image: none;
    }
}